@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 300;
    src: url("fonts/Mulish-Light.woff2") format('woff2');
    /*style: normal;*/
}

@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 400;
    src: url("fonts/Mulish-Regular.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 500;
    src: url("fonts/Mulish-Medium.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 700;
    src: url("fonts/Mulish-SemiBold.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 900;
    src: url("fonts/Mulish-Black.woff2") format('woff2');
    /*style: normal;*/
}

body {
    font-family: Lato, sans-serif;
}

button {
    border: 2px solid #458FF6;
    color: #458FF6;
    background-color: white;
    border-radius: 55px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 3.3;
}

.container-xl {
    width: 1600px;
}

.container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    color: #1F1534;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
}

.hero > div {
    display: flex;
    justify-content: space-between;
    padding-top: 84px;
}

.hero-content {
    min-width: 430px;
    gap: 130px;
    margin-right: 100px;
}

h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 25px;
    padding-top: 90px;
}

h2 {
    font-size: 36px;
    line-height: 1.5;
    font-weight: 700;
}

p {
    font-size: 18px;
    color: #7D7987;

}


.hero-content p {
    color: #7D7987;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 48px;
}

.hero-content button {
    border: 2px solid #458FF6;
    color: white;
    background-color: #458FF6;
    border-radius: 55px;
    font-weight: 500;
    font-size: 18px;
    line-height: 3.3;

}

.hero-content img {
    display: flex;
    width: 700px;
}

.our-services {
    padding-top: 180px;

}

.our-services h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.our-services p {
    display: flex;
    line-height: 1.6;
    text-align: center;
}

.our-services ul {
    display: flex;
    justify-content: space-between;
}

.our-services li {
    width: 350px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    overflow: hidden;
}

.cards {
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    width: 350px;
}

.cards img {
    flex-grow: 1;
    margin-top: 63px;
    width: 63px;
    margin-bottom: 20px;
}

.cards h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 2.3;
}

.cards p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    text-align: start;

}

.our-services button {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.healthcare-providers {
    padding-top: 220px;
    display: flex;
    gap: 150px;
}

.healthcare-providers h2 {
    margin-bottom: 60px;
}

.healthcare-providers p {
    margin-bottom: 60px;
    font-weight: 300;
}

.testimonials {
    height: 420px;
    margin-top: 270px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    color: white;
}


.testimonials p {
    color: white;
}


.testimonials h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    padding-top: 60px;
}

.testimonials-wrapper {
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: space-between;
}

.testimonials-wrapper img {
    border-radius: 50%;

}

.testimonials-people {
    display: flex;
    flex-direction: column;
}

.testimonials-people h3 {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
}


.testimonials-quote {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}


.arrow-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
}


.articles h2 {
    padding-top: 230px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.articles ul img {
    width: 100%; padding-bottom: 20px;
}

.articles li {
    border: 1px solid white;
    border-radius: 20px;
}

.articles ul {
    display: flex;
    gap:30px;
}



.card-content h3 {
    display: flex;
    margin-top: 20px;
    text-align: start;
    margin-bottom: 20px;

}

.card-content p {
    text-align: start;
}

.card-content a {
    display: flex;
    margin-top: 25px;
    gap: 20px;
    align-items: flex-end;
    flex-grow: 1;
}

.card-content a>img {
    width: 14px;
}

.articles button {
    margin-top: 70px;
    margin-bottom: 200px;
}

.container-xl ul {
    display: flex;
}

button {
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer {
    background-color: #67C3F3;
    display: flex;
    justify-content: space-between;
    /*height: 400px;*/
    align-content: center;
}

.logo{
    display: flex;
    width: 41px
}

footer ul {
    display: flex;
    margin-top: 100px;
}

footer li:first-of-type {
    margin-right:150px;
}
footer p, footer h2{
    color: white;
}

footer li {
    align-items: center;
    min-width: 400px;
}

footer h2 {
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 30px;
}