@font-face {
    font-family: Mulish;
    font-display: swap;
    font-weight: 300;
    src: url("fonts/Mulish-Light.woff2") format('woff2');
    /*style: normal;*/
}

@font-face {
    font-family: Mulish;
    font-display: swap;
    font-weight: 400;
    src: url("fonts/Mulish-Regular.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: Mulish;
    font-display: swap;
    font-weight: 500;
    src: url("fonts/Mulish-Medium.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: Mulish;
    font-display: swap;
    font-weight: 700;
    src: url("fonts/Mulish-Bold.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: Mulish;
    font-display: swap;
    font-weight: 900;
    src: url("fonts/Mulish-Black.woff2") format('woff2');
    /*style: normal;*/
}

body {
    font-family: Mulish, sans-serif;
}

header > div, ul {
    display: flex;
    justify-content: space-between;
}

.container-xl {
    width: 1600px;
}

.container {
    width: 1100px;
}

.hero > div {
    display: flex;
    justify-content: space-between;
}

.cards-services {
    display: flex;
}

.healthcare-providers > div {
    display: flex;
}

.download-apps > div {
    display: flex;
}

.arrow-wrapper {
    display: flex;
    justify-content: space-between;
}